<!DOCTYPE html>
<html>

<head>
    <title>Casting Agency</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static',
    filename='styles.css') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Casting Agency" />
</head>

<body>
    <header>
        <h1>Casting Agency</h1>
        <nav></nav>
    </header>

    <div class="movies-wrapper">
        <h3>Movies</h3>
        <form class="form" id="form-movie">
            <fieldset>
                <label for="first-name">Name:
                    <input type="text" id="description-movie" name="description-movie" />
                </label>
                <label for="first-name">Release date:
                    <input type="date" id="release-date" name="release-date" />
                </label>
                    <input type="submit" name="Create" />
            </fieldset>
        </form>
        <div id="errors-movie" class="hidden">Somethind went wrong!</div>
        <ul id="movies">
            {% for movie in movies %}
            <li>
                <!-- <input class="list-completed" data-id="{{ movie.id }}" type="checkbox" {% if movie.title %} checked
                    {% endif %} /> -->
                <a href="/movies/{{ movie.id }}">
                    {{ movie.title }}
                </a>
                <button class="delete-button-movie" data-id="{{ movie.id }}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="actors-wrapper">
        <h3 id="active-movie" data-id="">Actors</h3>
        <form class="form" id="form-actors">
            <input type="text" id="description-actor" name="description-actor" />
            <input type="submit" name="Create" />
        </form>
        <div id="errors-actors" class="hidden">Somethind went wrong!</div>
        <ul class="list" id="actors">
            {% for actor in actors %}
            <li>
                <!-- <input class="check-completed" data-id="{{ actors.id }}" type="checkbox" {% if actor.name %} checked
                    {% endif %} /> -->
                <a href="/actors/{{ actor.id }}">
                    {{ actor.name }}
                </a>
                <button class="delete-button" data-id="{{ actor.id }}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>

</html>